@font-face {
    font-family: 'JetBrains Sans';
    src: url('../fonts/JetBrainsSans.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMonoNL.ttf') format('truetype');
}


:root {
    --default-font: 'JetBrains Sans',Inter,system-ui,Roboto,'Helvetica Neue',Arial,sans-serif;
    --default-font-weight: 400;
    --default-font-size: 20px;

    --logo-col-1: #E44857;
    --logo-col-2: #C711E1;
    --logo-col-3: #7F52FF;

    --back-gradient-start: #590065;
    --back-gradient-end: #1a0062;
    --back-col: var(--back-gradient-end);
    --back-img: linear-gradient(
        to bottom,
        var(--back-gradient-start) 0%,
        var(--back-gradient-end) 100%
    );

    --primary-col: #cbb8ff;
    --secondary-col: #ffbac1;

    --text-col: #fff;
    --inv-text-col: #000;
    --text-link-col: var(--primary-col);

    --header-back-col: #000c;
    --header-text-col: #fff;

    --panel-border-col: #eee;
    --panel-border-high-col: #fff;
    --panel-back-col: #0005;
    --panel-back-high-col: #0008;

    --button-back-col: #fff2;
    --button-text-col: var(--primary-col);
    --button-back-high-col: #fff;
    --button-text-high-col: #000;

    --shadow-col: #0008;
    --shadow-offset: 1rem;
    --shadow-size: 2rem;
    --shadow-offset-small: 0.5rem;
    --shadow-size-small: 1rem;

    --shade-col: #000e;

    --border-col: #fff4;

    --padding-small: 0.5rem;
    --padding-v-small: calc(0.5 * var(--padding-small));
    --padding-large: calc(2 * var(--padding-small));
    --padding-v-large: calc(3 * var(--padding-small));

    --corner-radius: calc(0.75 * var(--padding-small));

    --code-text-col: #ccc;
    --code-back-col: #131314;
    --code-comment-col: #fff7;
    --code-newline-col: #ff0;
    --code-cursor-col: #ff0;
    --code-system-col: #69c;
    --code-input-col: #9c0;
    --code-error-col: #f30;

    --scroll-back-col: var(--code-back-col);
    --scroll-thumb-col: #374a5c;
}


/* GENERAL LAYOUT
*************************************************************/

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
    font-family: var(--default-font);
    font-weight: var(--default-font-weight);
    font-size: var(--default-font-size);

    /* scrollbar-face-color: var(--scroll-thumb-col); */
    /* scrollbar-base-color: var(--scroll-thumb-col); */
    /* scrollbar-3dlight-color: var(--scroll-thumb-col); */
    /* scrollbar-highlight-color: var(--scroll-thumb-col); */
    /* scrollbar-track-color: var(--scroll-back-col); */
    /* scrollbar-arrow-color: var(--scroll-back-col); */
    /* scrollbar-shadow-color: var(--scroll-thumb-col); */
    /* scrollbar-dark-shadow-color: var(--scroll-thumb-col); */
}

::-webkit-scrollbar {
    width: 10px;
    height: 3px;
}
::-webkit-scrollbar-track-piece {
    background-color: var(--scroll-back-col);
}
::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: var(--scroll-thumb-col);
    border: 2px solid var(--scroll-back-col);
    border-radius: 3px;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;

    color: var(--text-col);

    background-color: var(--back-col);
    background-image: var(--back-img);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


/* TEXT
*************************************************************/

h1, h2, h3, h4 {
    font-weight: 500;
}

strong {
    font-weight: normal;
    color: var(--secondary-col);
}


em {
    font-style: italic;
    color: var(--secondary-col);
}

a {
    color: var(--text-link-col);
}

underline {
    text-decoration: underline;
}


/* LISTS
*************************************************************/

dl.code-list {
    padding-left: var(--padding-large);
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--padding-small);
    margin: 0;
    width: 100%;
}

dl.code-list dd {
    margin-left: 0;
}

dl.code-list code {
    padding: 0.05em 0.3em;
    border: 1px solid var(--border-col);
    display: inline-block;
    min-width: 2.5em;
    text-align: center;
}


/* HEADER
*************************************************************/

#main-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: var(--padding-small) var(--padding-large);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--padding-large);
    background-color: var(--header-back-col);
    color: var(--header-text-col);
    box-shadow: 0 0.1rem 0.5rem var(--shadow-col);
    z-index: 99;
}

#main-header :is(h1, h2) {
    /* flex: 1; */
    margin: 0;
    font-size: 1.2rem;
    line-height: 1;
    font-weight: normal;
}

#main-header h2 {
    color: var(--primary-col);
    flex: 1;
}

#main-header p {
    margin: 0;
    font-size: 0.8rem;
}


/* HEADER
*************************************************************/

#top-nav a {
    display: flex;
    gap: var(--padding-small);
    align-items: center;
    text-decoration: none;
    color: var(--text-col);
}

#top-nav a span {
    opacity: 0.7;
}

#top-nav a:hover span {
    opacity: 1;
}


#main-nav dl {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--padding-small);
    margin: 0;
}

#main-nav dt {
    height: 100%;
    white-space: nowrap;
}

#main-nav dd {
    margin: 0;
    font-size: 0.8em;
}

#main-nav a {
    text-decoration: none;
    display: flex;
    gap: var(--padding-small);
    align-items: center;
    height: 100%;
    padding: var(--padding-v-small) var(--padding-small);
    background-color: var(--button-back-col);
    color: var(--button-text-col);
    border-radius: var(--corner-radius);
}

#main-nav a:hover {
    background-color: var(--button-back-high-col);
    color: var(--button-text-high-col);
}



/* MAIN
*************************************************************/

main {
    padding: 3rem;
    margin: 0 auto;
    display: flex;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); */
    justify-content: center;
    align-items: start;
    gap: 4rem;
    flex-wrap: wrap;
}

main h1 {
    width: 100%;
    margin: 0;
    font-size: 2rem;
}

main > h1 {
    text-align: center;
}

main .explanation {
    width: 100%;
    padding: 0 max(calc((100% - 50rem) / 2), 0px);
}

article {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--padding-v-large);
    min-width: 28rem;
    max-width: 32rem;
    color: var(--text-col);
    padding: var(--padding-large);
    border: 3px solid var(--panel-border-col);
    background-color: var(--panel-back-col);
    border-radius: var(--corner-radius);
    box-shadow: 0 var(--shadow-offset-small) var(--shadow-size-small) var(--shadow-col);
    transition: all 200ms;
}

main#home {
    align-items: stretch;
}

main#home article {
    min-width: 30rem;
}

article:hover {
    box-shadow: 0 var(--shadow-offset) var(--shadow-size) var(--shadow-col);
    background-color: var(--panel-back-high-col);
    border-color: var(--panel-border-high-col);
}

article :is(h1, h2, h3, p, ul) {
    margin: 0;
}

article a {
    color: var(--text-link-col);
}

article img {
    display: block;
}

article img.logo {
    max-width: 25rem;
    height: auto;
}

article img.no-resize {
    width: auto;
    height: auto;
    align-self: center;
}

article img.example {
    border: 1px solid var(--win-border-col);
    box-shadow: 0 var(--shadow-offset) var(--shadow-size) var(--shadow-col);
    margin: var(--padding-large) var(--padding-v-large);
}

article div.description {
    max-width: 35rem;
    min-width: 25rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: var(--padding-small);
}



/* CODE PREVIEW
*************************************************************/

code[class*="language-"],
pre[class*="language-"] {
    font-size: 0.9rem;
    font-family: 'JetBrains Mono', monospace;
    line-height: 1.3;
    color: var(--code-text-col);
    background-color: var(--code-back-col);
}

pre[class*="language-"] {
    margin: 0;
    padding: 0.5em 1em;
    border: 1px solid var(--border-col);
}

.token.comment {
    font-style: normal;
    color: var(--code-comment-col);
}

.newline,
.token.newline {
    color: var(--code-newline-col);
}

.token.input {
    color: var(--code-input-col);
}

.token.system {
    color: var(--code-system-col);
    font-style: italic;
}

.token.error {
    color: var(--code-error-col);
    font-style: italic;
}

.token.hide {
    display: none;
}

.token.cursor {
    color: var(--code-cursor-col);
    animation: flash 500ms linear infinite alternate;
}

@keyframes flash {
    0% { color: var(--code-cursor-col); }
    100% { color: transparent; }
}